<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}}
    <div id="container">
      {{- block "main" . }}{{- end }}
    </div>
    <div class="container">
    <hr />
    </div>
    {{- partial "opt_in.html" . -}}
    {{- partial "footer.html" . -}}

    <!-- MailerLite Universal -->
    <script>
      (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
        var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
        f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
        var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
        _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

      var ml_account = ml('accounts', '1924598', 'a7k4b2r8r4', 'load');
    </script>
    <!-- End MailerLite Universal -->

    <script src="//instant.page/3.0.0" type="module" defer integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"></script>
  </body>
</html>
