{{ $baseUrl := .Site.BaseURL }}
<div class="container">
  <div class="heading">
    <img src="{{ .Params.Image }}" alt="{{ .Params.ImageAlt }}" />
    <h1 class="title">
      <a href="{{ .Permalink }}/index.html" rel="bookmark">
        {{ .Title }}
      </a>
    </h1>
    <h2 class="subtitle">
      {{ .Date.Format "January 2, 2006" }}
    </h2>
  </div>
  <p class="summary">{{ .Summary }}</p>
  <p class="categories">
    {{ range .Params.categories }}
      <a href="{{ $baseUrl }}/categories/{{ lower . | urlize }}/index.html" rel="category">{{ . }}</a>
    {{ end }}
  </p>
</div>
