a.nav-text {
  color: white;
}

.hamburger-menu span {
  background-color: white;
}

.list-header-title {
  color: white;
  text-shadow: 1px 3px 5px black;
}

.home-card {
  background: linear-gradient(70deg, #29b38c, violet);
}
