@import "./bulma/utilities/_all.sass";
@import "./bulma/base/_all.sass";
@import "./bulma/utilities/_all.sass";
@import "./bulma/components/_all.sass";
@import "./bulma/elements/_all.sass";
@import "./bulma/form/_all.sass";
@import "./bulma/grid/_all.sass";
@import "./bulma/layout/_all.sass";

.homepage-hero {
  background-image: linear-gradient(176deg, rgba(0,0,0,.2), rgba(0,0,0,0.7) 50%), url('/images/poly.png');
  background-size: cover;

  h1.title {
    font-size: 5rem;
  }
}

.magicband {
  h1 {
    font-size: 1rem;
    font-weight: bold;
  }

  img {
    height: 250px;
  }
}

.post-summary, .featured-summary {
  a {
    img, .title {
      transition: all 0.25s ease-in-out;
    }

    img {
      max-height: 350px;
    }

    &:hover {
      .title {
        color: $primary;
      }

      img {
        box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02)
      }
    }

    img {
      border-radius: 5px;
    }
  }
}

.content {
  figure {
    figcaption {
      h4 {
        font-weight: normal;
        margin-bottom: 0;
        font-size: 1rem;
        font-style: normal;
      }

      p {
        font-size: 0.8rem;
        font-weight: normal;
        font-style: italic;
      }
    }
  }
}
