@import "variables";
@import "./bulma/utilities/_all.sass";
@import "./bulma/base/_all.sass";
@import "./bulma/utilities/_all.sass";
@import "./bulma/components/_all.sass";
@import "./bulma/elements/_all.sass";
@import "./bulma/form/_all.sass";
@import "./bulma/grid/_all.sass";
@import "./bulma/layout/_all.sass";
@import "typography";

@import "themify-icons";

%box-shadow {
  box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.1),
    0 0 0 1px rgba(0, 0, 0, 0.02);
}

@import "mailerlite-overrides";
@import "underline-link";

.homepage-hero {
  background-image: linear-gradient(
      176deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.7) 50%
    ),
    url("/images/poly.png");
  background-size: cover;
  background-position: center;

  h1.title {
    font-size: 5rem;
  }

  .title,
  .subtitle {
    @extend %box-shadow;
  }
}

.magicband {
  h1 {
    font-size: 1rem;
    font-weight: bold;
  }

  img {
    height: 250px;
  }
}

.post-summary,
.featured-summary {
  padding: 1rem;
  border-radius: 5px;
  @extend %box-shadow;

  &,
  & * {
    transition: all 0.25s ease-in-out;
  }

  h1 {
    margin-bottom: 1rem;
  }

  img {
    max-height: 350px;
    border-radius: 5px;
    margin-bottom: 2rem;
    border: 0.25rem solid #c0cbffa2;
  }

  &:hover {
    .title {
      color: $primary;
    }

    img {
      @extend %box-shadow;
      border: 0.25rem solid #c0cbff;
    }
  }

  .subtitle {
    margin-top: 1rem;
    float: right;
  }

  .categories.tags {
    margin-top: 1rem;
  }
}

.featured-summary {
  margin-bottom: 3rem;
}

.content {
  figure {
    figcaption {
      h4 {
        font-weight: normal;
        margin-bottom: 0;
        font-size: 1rem;
        font-style: normal;
      }

      p {
        font-size: 0.8rem;
        font-weight: normal;
        font-style: italic;
      }
    }
  }
}
